body,h1,h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.jumbotron h1{
  color: #fff;
}
.logo{
	width: 10em;
}
.navbar-default{
	background-color: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
}
.navbar{
	min-height: 100px;
	margin: 0;
}
.navbar-nav{
	margin-top: 17px;
	font-size: 1.5rem;
}
.navbar-default .navbar-nav>li>a{
color: #000;
font-weight:  bold;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('..img/bckg-sobre.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.jumbotron{
	margin-top: 250px;
	background-color: transparent;
}
.btn-info{
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 0px;
	font-weight: bold;
	padding: 10px 30px;
	margin-top: 35px;
}

.sobre{
	background-image: url("../img/bckg-sobre.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contato{
  background-image: url("../img/bckg-contato.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control{
  border-color: #000;
  border-radius: 0px;
}
.btn-danger{
  background-color: #000;
  border: 0px;
  border-radius: 0px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 35px;
}
.social{
  margin-top: 4rem;
}
.social img{
  padding-right: 2rem;
}
.ativa{
  background-color: #000;
  border: 0px;
  border-radius: 0px;
}
 .navbar-default .navbar-nav>li>a.ativa{
 color: #fff;
}